Print Formatting

In [1]:
print 'This is a string'

This is a string

In [5]:
s = 13.13

print 'Place my variable here: %s' %(s)

Place my variable here: 13.13

In [9]:
print 'Floating point number: %1.2f' %(13.145)
print 'Floating point number: %1.3f' %(13.145)
print 'Floating point number: %1.10f' %(13.145)
print 'Floating point number: %25.3f' %(13.145)

Floating point number: 13.14
Floating point number: 13.145
Floating point number: 13.1450000000
Floating point number:                    13.145

In [10]:
print 'Convert to string %r' %(123)

Convert to string 123

In [11]:
print 'First: %s, Second: %s, Third %s' %('hi!','two',3)

First: hi!, Second: two, Third 3

In [13]:
print 'First: {x} Second: {y} Third: {x}'.format(x='inserted', y='two!')

 First: inserted Second: two! Third: inserted

In [14]:
from __future__ import print_function

In [15]:
print('hello')

hello

In [16]:
print('One: {x}'.format(x='INSERT!'))

One: INSERT!

In [1]:
name = "Hank"
print 'hello, %s' %(name)

hello, Hank

In [3]:
wight = 74
hight = 180
name =  'Hank'
print '%s is %s and %s tall.' %(name, wight, hight)

Hank is 74 and 180 tall.

In [4]:
name = 'Sharlyn'
age = 28
print 'My name is {name}, {age} years old.'.format(name=name,age=age)

My name is Sharlyn, 28 years old.

In [18]:
number1 = 13.4445
print 'The number is %1.2f' %(number1)
print 'The number is %10.2f' %(number1)
print 'The number is %7.3f' %(number1)
print 'The number is %4.2f' %(number1)

The number is 13.44
The number is      13.44
The number is  13.444
The number is 13.44